* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: lightcyan;
}
 

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  color: white;

}
.input-h {
  margin: 10px 0;
 
}

.input-clock {
  margin: 10px 0;
  letter-spacing: 2.5px;
}
.time-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  border: 1px solid white;
  flex: 0.5;
 
}
@media (max-width: 600px){
  .input-h,
  .input-clock  h2{
   font-size: 1rem;
  }
}